<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="client" class="com.yura.spring.demo.course.client.Client">
        <constructor-arg index="0" value="1"/>
        <constructor-arg index="1" value="John Smith"/>
    </bean>

    <bean id="eventLogger" class="com.yura.spring.demo.course.logger.ConsoleEventLogger"/>

    <bean id="fileEventLogger" class="com.yura.spring.demo.course.logger.FileEventLogger" init-method="init">
        <constructor-arg value="log.log"/>
    </bean>

    <bean id="cachedFileEventLogger" class="com.yura.spring.demo.course.logger.CacheFileEventLogger" destroy-method="destroy" init-method="init">
        <constructor-arg index="0" value="4"/>
        <constructor-arg index="1" value="log.log"/>
    </bean>

    <bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>

    <bean id="event" class="com.yura.spring.demo.course.event.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg ref="dateFormat" />
    </bean>


    <bean id="app" class="com.yura.spring.demo.course.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="cachedFileEventLogger"/>
    </bean>

</beans>